@page "/Match"

<div class="container text-center">
    <form>
        <div class="row border-bottom border-2 border-dark">                   @*HEADER*@
            <div class="col fs-3">Score</div>
            <div class="col fs-2">Player 1</div>
            <div class="test col fs-1">CRICKET</div>
            <div class="col fs-2">Player 2</div>
            <div class="col fs-3">Score</div>
        </div>
        @for (int i = 20; i > 15; i--)
        {
            <div class="row">
                <div class="col border-end border-1 border-dark">              @*START : PLAYER 1 SCORE COLUMN*@
                    <div class="form-control">
                        <select class="form-select" name="scorePlayer1For@(i)" id="scorePlayer1For@(i)">
                            <option value="" selected disabled hidden>Select a score</option>
                            <option value="@i">@i.ToString()</option>
                            <option value="@(i * 2)">@(i * 2)</option>
                            <option value="@(i * 3)">@(i * 3)</option>
                        </select>
                    </div>                                                     @*END : PLAYER 1 SCORE COLUMN*@
                </div>
                <div class="col border-start border-end border-1 border-dark"> @*START : PLAYER 1 CHECKBOX COLUMN*@
                    <div class="row">
                        <div class="col form-check">
                            <label for="p1-@(i)-Single">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-circle fs-2" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <input type="checkbox" id="p1-@(i)-Single" class="checkbox">
                            </label>
                        </div>
                        <div class="col form-check">
                            <label for="p1-@(i)-Double">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-slash-circle fs-2" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
                                </svg>
                                <input type="checkbox" id="p1-@(i)-Double" class="checkbox">
                            </label>
                        </div>
                        <div class="col form-check">
                            <label for="p1-@(i)-Triple">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-x-circle fs-2" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <input type="checkbox" id="p1-@(i)-Triple" class="checkbox">
                            </label>
                        </div>
                    </div>
                </div>                                                        @*END : PLAYER 1 CHECKBOX COLUMN*@
                <div class="col border-start border-end border-1 border-dark fs-1">@i.ToString()</div> @*MIDDLE POINTS COLUMN*@
                <div class="col border-start border-end border-1 border-dark"> @*START : PLAYER 2 CHECKBOX COLUMN*@
                    <div class="row">
                        <div class="col text-center form-check">
                            <label for="p2-@(i)-Triple">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-x-circle fs-2" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <input type="checkbox" id="p2-@(i)-Triple" class="checkbox">
                            </label>
                        </div>
                        <div class="col text-center form-check h-auto">
                            <label for="p2-@(i)-Double">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-slash-circle fs-2" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
                                </svg>
                                <input type="checkbox" id="p2-@(i)-Double" class="checkbox">
                            </label>
                        </div>
                        <div class="col text-center form-check">
                            <label for="p2-@(i)-Single">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-circle fs-2" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                <input type="checkbox" id="p2-@(i)-Single" class="checkbox">
                            </label>
                        </div>
                    </div>
                </div>                                                        @*END : PLAYER 2 CHECKBOX COLUMN*@
                <div class="col border-start border-1 border-dark">           @*START : PLAYER 2 SCORE COLUMN*@
                    <div class="form-control">
                        <select class="form-select" name="scorePlayer1For@(i)" id="scorePlayer1@(i)">
                            <option value="" selected disabled hidden>Select a score</option>
                            <option value="@i">@i.ToString()</option>
                            <option value="@(i * 2)">@(i * 2)</option>
                            <option value="@(i * 3)">@(i * 3)</option>
                        </select>
                    </div>
                </div>                                                        @*END : PLAYER 2 SCORE COLUMN*@
            </div>
        }
        <div class="row">                                                     @*START BULL ROW*@
            <div class="col border-end border-1 border-dark">                 
                <div class="form-control">
                    <select class="form-select" name="scorePlayer1ForBull" id="scorePlayer1ForBull">
                        <option value="" selected disabled hidden>Select a score</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
            <div class="col border-start border-end border-1 border-dark">
                <div class="row">
                    <div class="col text-center form-check">
                        <label for="p1BullSingle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-circle fs-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                            <input type="checkbox" id="p1BullSingle" class="checkbox">
                        </label>
                    </div>
                    <div class="col text-center form-check">
                        <label for="p1BullDouble">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkbox bi bi-slash-circle fs-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
                            </svg>
                            <input type="checkbox" id="p1BullDouble" class="checkbox">
                        </label>
                    </div>
                    <div class="col text-center form-check">
                        <label for="p1BullTriple">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="checkbox bi bi-x-circle fs-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <input type="checkbox" id="p1BullTriple" class="checkbox">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col border-start border-end border-1 border-dark fs-2">BULL</div>
            <div class="col border-start border-end border-1 border-dark">
                <div class="row">
                    <div class="col text-center form-check">
                        <label for="p2BullTriple">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="checkbox bi bi-x-circle fs-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <input type="checkbox" id="p2BullTriple" class="checkbox">
                        </label>
                    </div>
                    <div class="col text-center form-check">
                        <label for="p2BullDouble">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="checkbox bi bi-slash-circle fs-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
                            </svg>
                            <input type="checkbox" id="p2BullDouble" class="checkbox">
                        </label>
                    </div>
                    <div class="col text-center form-check">
                        <label for="p2BullSingle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="checkbox bi bi-circle fs-2" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                            <input type="checkbox" id="p2BullSingle" class="checkbox">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col border-start border-1 border-dark">
                <div class="form-control">
                    <select class="form-select" name="scorePlayer2ForBull" id="scorePlayer2ForBull">
                        <option value="" selected disabled hidden>Select a score</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>                                                                @*END BULL ROW*@
    </form>
</div>

<style>
    
/*input[type="checkbox"] {*/
/*    display: none;*/
/*}*/

.checkbox {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.checkbox:hover {
    fill:  red;
}

.checkbox:checked {
    fill: red;
}
</style>

      @code {
    
}